#signup-container
{
  padding: 5em 0 5em;
  background-image: url(picture5.jpg);
    background-size: cover;	
}
.container >h2{
	padding: 1em 0 1em;
	margin: .5em 0 .5em;
	width: 80%;
	color:#B1564B ;
	font-size: 2em;
	width: 35%;
	text-align: center;
	margin-left: 35%;
	background-color:#F5B7B1 ;
	border-radius: 20px  ;
	text-transform: uppercase; 
}
	
.container .row{
	position: relative;
    margin: 0;
	display: grid;
	margin-left: 3%;
	width: 35%;
	grid-template-columns: auto;
	background-color:#1ABC9C;
	border-radius: 20px ;
}
.container .column{
	position: relative;
	margin : 1em 0 1em;
	width: 100%;

}	
.inputbox1 {
	position: relative;
	width: 80%;
	margin: 0 10% 0;
    color: #641E16 ;
    height:2em;
}
.inputbox1 input{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 1em;
	margin: 0;
	font-size: 1.2em;
	border: none;
	outline: none;
	transition: .5s;
	background-color:transparent;
	color: #17202A ;
	z-index: 1;
}
 .inputbox1 .text1{
 	position: absolute;
    bottom: 2px;
	left: 5px;
	line-height: 1em;
	font-size: 1.3em;
	letter-spacing: 2px;
	transition: .5s;

 }
 .inputbox1 .line1{
	position: absolute;
	display:block;
	bottom: 0;
	width: 100%;
	height: 2px;
	border-radius: 10px;
	background-color: #CCD1D1 ;
	transition: .5s;
	}

	.inputbox1 input:focus +.text1,
    .inputbox1 input:valid +.text1
    {
	bottom:100%;
	left:0px;
	
}
    .inputbox1 input:focus ~.line1,
.inputbox1 input:valid ~.line1
{
	height: 90%;
	
}
.container .row2{
    position: absolute;
    font-size: 1.1em;
	letter-spacing: 1px;
	display: grid;
	margin-left: 60%;
	width: 35%;
	grid-template-columns: auto;
	background-color:#839192;
	border-radius: 20px ;
	text-align: center;
	font-size: 1.2em;
}